originals/
out/
src/ANXVerse/system/priv-app/ANXCamera/ANXCamera.apk
src/ANXVerse/system/etc/ANXCamera/anx.js
src/ANXVerse/system/lib64/
src/ANXVerse/system/priv-app/ANXCamera/lib/
src/ANXVerse/system/priv-app/ANXCamera/lib/
src/ANXVerse/system/vendor/lib64/
